{% trans_default_domain 'FOSUserBundle' %}
<h5 class="tb-title">Профиль пользователя</h5>
<div class="col-md-12">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>