{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6">
                    <div class="tb-login-form ">
                        {% block contentBook %}
                        {% endblock contentBook %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
