{% trans_default_domain 'FOSUserBundle' %}
<h5 class="tb-title">Contact Form</h5>
{% form_theme form '@FOSUser/form_layout.html.twig' %}

{{ form_start( form , { 'action': path('fos_user_change_password'), 'attr': { 'class': 'cendo' } }) }}
{{ form_widget(form) }}
<div class="col-md-12">
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>
</div>
{{ form_end( form ) }}

