<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>An Error Occurred: Internal Server Error</title>
</head>
<body>
<div style="text-align: center; ">
<h1>Oops! An Error Occurred</h1>
</div>
</body>
</html>
